/*GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: rgb(242, 242, 242);
}

a,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

/*HEADER */
header {
  height: 10vh;
  background-color: white;
  border-bottom: 1px solid midnightblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*LOGO*/
.logo {
  display: flex;
  gap: 5%;
  font-size: 2.5rem;
}

.fa-book-reader {
  color: midnightblue;
}

.logo > div > span {
  color: midnightblue;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 700;
}

/*NAVBAR*/
.navbar {
  display: flex;
  list-style: none;
  gap: 20px;
  font-size: 2rem;
}

.navbar > li > a {
  color: midnightblue;
  transition: all 0.5s ease-in-out;
}

.navbar > li > a:hover {
  font-weight: 700;
  font-size: 2.3rem;
}

/*CONTAINER*/
.container {
  height: 80vh;
  width: 70vw;
  margin: 20px auto;
  font-size: 1rem;
  animation: scroll 0.5s ease-in-out;
  display: flex;
}

/*BOOKLIST*/
.book-list {
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #f2f2f2;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(179, 179, 179);
}

table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

thead {
  text-transform: uppercase;
  letter-spacing: 5px;
  height: 70px;
  border-bottom: 2px solid gray;
}

th {
  font-weight: 400;
}

tbody > tr {
  border-bottom: 1px solid gray;
  height: 50px;
}

tr > td:first-child,
tr > td:nth-child(4) {
  color: midnightblue;
  font-weight: bold;
}

tr > td:nth-child(2) {
  font-style: italic;
}

td {
  max-width: 50px;
}


/*ABOUT*/
.about {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-bottom: 20px;
}

/*ANIMATION */
@keyframes scroll {
  0% {
    transform: translateX(-1000px);
  }
  100% {
    transform: translateX(0);
  }
}

/*MEDIA QUERIES */
@media screen and (max-width: 768px) {
  .logo {
    font-size: 1.3rem;
  }

  .navbar {
    font-size: 1.3rem;
  }

  .container {
    width: 90%;
    font-size: 0.7rem;
  }
}
